#Help{
  text-align: center;
}
<<<<<<< HEAD
#xy {
  background-color: white;
}
=======
>>>>>>> bb9f57a10d05a726d78f2d502147af4b57ede221
.details{
  display: none;
}
.nairobi,.kiambu,.Mombasa,.Nakuru{
  display: none;
}
.count{
padding-left: 600px;
font-size: 30px;

}
.jumbotron{
  text-align: center;
  background-color: #F7CA18;
}
label{
  color: white;
  font-size: 30px;
}
.navbar {
  margin-bottom: 0;
  border: 0;
  font-size: 20px;
  background-color: #F7CA18;
  overflow: hidden;
  text-decoration: none;
}

.navbar:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.nav li a:link,
.nav li a:visited {
  text-align: left;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  background-color: transparent;
}

@media screen and (min-width: 768px){
  .nav li a:after {
    display: block;
    content: "";
    border-bottom: solid 2px #f8eee7;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
  }

  .nav li a:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
  }
  }

  .icon-bar {
    display: block;
    width: 15px;
    height: 5px;
    background-color: #49274a;
    margin: 6px 0;
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

  .navbar-brand:link,
  .navbar-brand:visited {
    font-size: 26px;
    color: #fff;
    margin-bottom: 3px;
  }

  .navbar-brand:hover {
    color: #F7CA18;
  }
  
  #Carparts{
    text-align: center;
  }
  .story{
    text-align: center;
  }
  .service,#parts{
    display: none;
  }
label{
  color: rgb(36, 16, 16);
  font-size: 20px;
}
.userStory{
  display: none;
}
@import url('https://fonts.googleapis.com/css?family=Muli:300,400|Philosopher:400,700');
html,
body {
  background-color: #fff;
  color: #3e4546;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
#Help{
  text-align: center;
}
.details{
  display: none;
}
.nairobi,.kiambu,.Mombasa,.Nakuru{
  display: none;
}
.count{
padding-left: 600px;
font-size: 30px;

}
.jumbotron{
  text-align: center;
  background-color: #F7CA18;
}
label{
  color: black;
  font-size: 30px;
}
.nav{
  color: white;
}

@media screen and (min-width: 768px){
  .nav li a:after {
    display: block;
    content: "";
    border-bottom: solid 2px #f8eee7;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
  }

}
  #Carparts{
    text-align: center;
  }
  #xy{
  text-align: center;

}
.ef{
text-align: center;
padding-left: 200px;
padding-right: 200px;

}
#Carparts{
  text-align: center;
}
.Jimmy{
  display: none;
  background-color: black;
  color: white;

}
.yellow{
  display: none;
  background-color: black;
  color: white;

}
.Mig{
  display: none;
  background-color: black;
  color:white;

}
.BlackDark{
  display: none;
  background-color: black;
  color:white;

}
.Happy{
  display: none;
  background-color: black;
  color: white;

}
.Settings{
  display: none;
  background-color: black;
  color: white;

}
.Burned{
  display: none;
  background-color: black;
  color:white;

}
.Giraffe{
  display: none;
  background-color: black;
  color: white;

}
.col-md-3{
  padding-bottom: 20px;
}
/*--------FOOTER -------*/

footer {
  padding: 20px;
  background-color: #889495;
  text-align: center;
  color: #fff;
}

.footer-nav {
  list-style: none;
  font-size: 80%;
}

.footer-nav h4,
.contact {
  font-size: 120%;
}

footer p {
  font-size: 75%;
}

footer a:link,
footer a:visited {
  color: #fed1d3;
  transition: 0.3s;
  margin-top: 5px;;
}

footer a:hover,
footer a:active {
  color: #fd9fa4;
  text-decoration: none;
}

hr {
  width: 60%;
  margin: 10px auto;
}
